// function
@function px2rem($px){
	@return $px/40+rem;
}
// mixin
@mixin flex{display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;-moz-box-pack: justify;-ms-flex-pack: justify;-webkit-box-align: center;-moz-box-align: justify;-ms-flex-align: center;justify-content:space-around;}
@mixin Border1px($direction,$color){
	&:after{
		content:"";
		position:absolute;
		width:100%;
		@if $direction == bottom{
			left:0;
			bottom:0;
		}
		@if $direction == top{
			left:0;
			top:0;
		}
		height:1px;
		background-color:$color;
		transform:scaleY(.5)
	}
}