@import '../../utils/utils.scss';
.boxTitle{position:relative;@include Border1px(top,#e1e2e3);padding-left:px2rem(20);height:px2rem(100);line-height:px2rem(100);font-size:px2rem(32)}
.boxTitle:before{content:"";position:absolute;left:0;top:px2rem(36);width:px2rem(4);height:px2rem(32);background:#d33a31}