@import '../../utils/utils.scss';
.sheet{position:relative;@include flex;height:px2rem(720);flex-wrap:wrap;}
.loading{margin-top:px2rem(200);text-align:center;}
.loading i{font-size:px2rem(60)}
.sheet li{width:px2rem(244);height:px2rem(340);}
.sheet img{width:px2rem(244)}
.sheet h3{font-size:px2rem(26);font-weight:500;}